{% load static %}

<div class="footer">

        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="bg-dark">
          <div class="container text-center text-md-start mt-5" >
            <div class="container-fluid">
            <!-- Grid row -->
            <br>
            <div class="row mt-4 text-white">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">
                <!-- Content -->
                <h5 class="text-uppercase fw-bold mb-3">
                  <i class="fas fa-gem me-1"></i>О нас
                </h5>
                <p>
                  Специализированный Автотехцентр: Мы предлагаем весь комплекс работ для наилучшего состояния Вашего
                  автомобиля. Обслуживание у нас означает высшее качество выполненных работ по ремонту и уходу за
                  автомобилем.

                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h5 class="text-uppercase fw-bold mb-4">
                  Услуги
                </h5>
                <p>
                  <a href="{% url 'car_wash' %}" class="text-reset">Автомойка</a>
                </p>
                <p>
                  <a href="{% url 'mainenance' %}" class="text-reset">Техобслуживание</a>
                </p>
                <p>
                  <a href="{% url 'tire_service' %}" class="text-reset">Шиномонтаж</a>
                </p>
                <!-- <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p> -->
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h5 class="text-uppercase fw-bold mb-3">Контакты</h5>
                <p><i class="fas fa-home me-1"></i> г. Курган, ул. Бажова 1</p>
                <p>
                  <i class="fas fa-envelope me-1"></i>
                  vk.com/mestniekgn
                </p>
                <p><i class="fas fa-phone me-1"></i> +7 (982) 395-79-31</p>
                <p><i class="fas fa-print me-1"></i> +7 (3522) 66-30-22</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: gray">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
        </footer>
        <!-- Footer -->


      </div>